<nav class="bg-base-100 shadow-sm sticky top-0 z-50">
  <div class="max-w-screen-xl flex items-center justify-between mx-auto p-2">
    <div class="w-30 h-8 rounded-full overflow-hidden -ml-20">
      <img src="edtech.png" class="w-full h-full object-cover cursor-pointer" routerLink="/" />
    </div>
    <div class="hidden lg:flex -mr-20">
      <ul class="menu menu-horizontal px-1 text-lg text-violet-800 font-semibold">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About us</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </div>
  </div>
</nav>



